*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s ease;
    scroll-behavior: smooth;
}

body{
    background-color: #0b0531;
    font-family: 'syne';
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(196, 196, 196); */
    background-color: transparent;
    border-radius: 0 10px 30px rgba(0, 0, 0, 0.288);
    border: none;
    backdrop-filter: blur(10px);
    opacity: 1;
    padding: 20px 80px;
    margin-top: -10.5rem;
    position: fixed;
    width: 100%;
}


.nav-container .nav-inner1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-container .logo{
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 100px;
}

.nav-links{
    display: flex;
}

.ham-btn{
    display: none;
}

.nav-container ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.nav-container ul li{
    list-style: none;
}

.nav-container ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 40px;
    font-weight: 400;
    font-size: 18px;
}

.nav-container .navbtn-container .navbtn{
    padding: 15px 10px;
    color: white;
    background-color: blueviolet;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    margin-top: 25px;
}

.navbtn-container{
    margin-top: 0px;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    margin: 10.5rem 0rem;
    padding: 0px 80px;
}

.banner-text .title{
    font-size: 60px;
    font-weight: 500;
    color: white;
    margin: 1rem 0rem;
}

.banner-text .text-inner{
    font-size: 15px;
    font-weight: 300;
    color: rgb(238, 235, 235);
    margin-bottom: 3rem;
}

.banner-container .banner-btns{
    margin-bottom: 4rem;
}

.banner-container .banner-btn1{
    background-color: blueviolet;
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 40px;
    text-decoration: none;
    margin-right: 3rem;
}

.banner-container .banner-btn2{
    border: 2px solid;
    border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;
}

.banner-container .counter{
    display: flex;
}

.banner-container .counter .count-title{
    font-size: 25px;
    text-align: center;
    color: white;
}

.banner-container .counter .count-inner{
    font-size: 15px;
    color: rgb(221, 214, 214);
}

.banner-container .arrow img{
    position: absolute;
    top: 26rem;
    right: 40rem;
    opacity: 0.2;
}

.section2{
    padding: 0px 80px;
}

.section2 .section2-heading{
    text-align: center;
    justify-content: center;
}

.section2 .section2-heading .heading-title{
    font-size: 55px;
    color: white;
    margin: 0.5rem 0rem;
}

.section2 .section2-heading .heading-title-inner{
    font-size: 13px;
    color: rgb(201, 198, 198);
    font-weight: 300;
    line-height: 1.5;
}

.section2 .section2-part2{
    border: 3px solid;

    border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    border-radius: 95px;
    padding: 1rem;
    display: flex;
    /* width: 100%;
    height: 590px; */
    margin-top: 3rem;
}

.section2 .section2-part2 .part2-text{
    margin-left: 4rem;
    margin-top: 3rem;
}

.section2 .section2-part2 .heading-title{
    font-size: 35px;
    color: white;
}

.section2 .section2-part2 .image-flex{
    display: flex;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.section2 .section2-part2 .image-flex .image-title{
    margin-top: 1rem;
    margin-left: 1rem;
}

.section2 .section2-part2 .part2-innertext{
    color: rgb(129, 128, 128);
    margin: 1rem 0rem;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
}

.bid-cont{
    display: flex;
    margin: 3rem 0rem;
}

.auction{
    margin-left: 12rem;
}

.bid-title{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.bid-price{
    color: white;
    font-size: 20px;
    margin: 0.5rem 0rem;
    text-transform: uppercase;
    font-weight: 600;
}

.bid-dollarprice{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

.time-container{
    display: flex;
    margin-top: -0.5rem;
}

.time{
    color: white;
    font-size: 10px;
    font-weight: 300;
    display: flex;

}

.part2-btn{
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;

}

.section3{
    padding: 0px 80px;
    margin: 8rem 0rem;
}

.section3 .section3-heading{
    text-align: center;
    justify-content: center;
}

.section3 .section3-heading .heading-title{
    font-size: 55px;
    color: white;
    margin: 0.2rem 0rem;
}

.section3 .section3-heading .heading-title-inner{
    font-size: 13px;
    color: rgb(201, 198, 198);
    font-weight: 300;
    line-height: 1.5;
}

.section3 .section3-btns{
    display: flex;
    justify-content: space-around;
    margin: 3rem 0rem;
}

.section3 .section3-btns .section3-btn1{
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    margin-right: 2rem;
    text-decoration: none;    
}

.section3 .section3-btns .section3-btn2{
border: 2px solid;
border-image: linear-gradient(75deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
color: white;
font-weight: 400;
font-size: 15px;
margin-right: 2rem;
padding: 15px 30px;
text-decoration: none;
}

.section3 .section3-btns .section3-btn3{
    border: 2px solid;
    border-image: linear-gradient(75deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    color: white;
    font-weight: 400;
    margin-right: 2rem;
    font-size: 15px;
    padding: 15px 35px;
    text-decoration: none;
}

.section3 .section3-btns .section3-btn4{
    border: 2px solid;
    border-image: linear-gradient(75deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-right: 2rem;
    padding: 15px 48px;
    text-decoration: none;
}

.section3 .section3-btns .section3-btn5{
    border: 2px solid;
    border-image: linear-gradient(75deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-right: 2rem;
    padding: 15px 32px;
    text-decoration: none;
}

.section3 .section3-btns .section3-btn6{
    border: 2px solid;
    border-image: linear-gradient(75deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;
}

.section3 .cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0rem;
}

.section3 .cards-container .card1{
    width: 280px;
    height: 500px;
    border: 5px solid;
    border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
    background-color: rgb(29, 28, 28);
    padding: 1rem 0.5rem;
    margin-bottom: 4rem;
}

.section3 .cards-container .card1 .card-heading{
    display: flex;
    margin-bottom: 1rem;
}

.section3 .cards-container .card1 .card-heading .card-name{
    margin-top: 0.7rem;
    margin-left: 1rem;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.section3 .cards-container .card1 .card-inner-flex{
    display: flex;
    justify-content: space-between;
    margin: 0.3rem 0rem;
}

.section3 .cards-container .card1 .card-flex2{
    display: flex;
    justify-content: space-between;
}

.section3 .cards-container .card1 .card-price{
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-top: 1rem;
}

.section3 .cards-container .card1 .card-btn{
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none; 
}
hr{
    margin-top: 1rem;
}

.section3 .cards-container .card1 .cardbid-title{
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1rem;
}

.section3 .cards-container .card1 .cardbid-price{
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.section3 .cards-container .card1 .auction-title{
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 1rem;
}

.section3 .cards-container .card1 .auction-time{
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.section4{
    padding: 0px 80px;
}

.section4 .section4-heading{
    text-align: center;
    justify-content: center;
}

.section4 .section4-heading .heading-title{
    font-size: 55px;
    color: white;
    margin: 0.5rem 0rem;
}

.section4 .section4-heading .heading-title-inner{
    font-size: 13px;
    color: rgb(201, 198, 198);
    font-weight: 300;
    line-height: 1.5;
}

.section4 .section4-cards-container{
    display: flex;
    flex-wrap: wrap;
}

.section4 .section4-cards-container .card-container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section4 .section4-cards-container .card-container1 .card-one{
    background-color: rgb(75, 68, 68);
    padding: 1rem;
    width: 378px;
    margin: 1rem 0.3rem;
    border-radius: 5px;
}

.section4 .section4-cards-container .card-container1 .card-one .cardflex{
    display: flex;
    justify-content: space-between;
}

.section4 .section4-cards-container .card-container1 .card-one .cardflex .flex1{
    display: flex;
}

.section4 .section4-cards-container .card-container1 .card-one .cardflex .flex1 .flex-text{
    font-weight: 500;
    font-size: 14px;
    color: white;
    margin-top: 1rem;
    margin-left: 1rem;
}

.section4 .section4-cards-container .card-container1 .card-one .cardflex .card-one-btns{
    display: flex;
    justify-content: space-between;
}

.section4 .section4-cards-container .card-container1 .card-one .cardflex .card-one-btns .card-one-btn1{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: white;
    margin: 1.8rem 0.2rem;
}

.section5{
    padding: 0px 80px;
    margin: 8rem 0rem;
  
}

.section5 .section5-flex{
    border: 3px solid;
    border-image: linear-gradient( rgb(250, 18, 250), rgb(52, 216, 2)) 1;
    border-radius: 12px;
    justify-content: space-between;
    display: flex;
    padding: 1.5rem 4rem;
}

.section5 .section5-flex .section5-innertext{
    margin-top: 2rem;

}

.section5 .section5-flex .section5-innertext .innertext-title{
    margin-top: 2rem;
    font-size: 45px;
    font-weight: 500;
    color: white;
}

.section5 .section5-flex .section5-innertext .innertext-sub{
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 300;
    color: rgb(182, 179, 179);
}

.section5 .section5-flex .section5-innertext .section5-btn{
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 15px 30px;
    text-decoration: none;  
}

.section6{
    padding: 0px 80px;
    padding-top: 8rem;
    border-top: 3px solid;
    border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
    width: 100%;
}

.section6 .section6-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section6 .section6-flex .logo{
    font-size: 45px;
    font-weight: 600;
    background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}

.section6 .section6-flex .flex1 .flex1-text{
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    color: white;
    margin-bottom: 2rem;
}


.section6 .section6-flex .flex1 .footer-icons{
    display: flex;
}

.section6 .section6-flex .flex1 .footer-icons .icon-cont{
    background-color:#3d3666ea;
    width: 50px;
    height: 50px;
    margin-bottom: 4rem;
    border-radius: 5px;
}

.section6 .section6-flex .flex1 .footer-icons a{
    font-size: 25px;
    color: white;
   
}

.flex2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex2 .flex2-list{
    margin-right: 2.3rem;
}

.section6 .section6-flex .list-title{
    font-weight: 800;
    color: white;
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.section6 .section6-flex li{
    list-style: none;
}

.section6 .section6-flex li a{
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    line-height: 2.5;
}

.section6 footer .footer-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.section6 footer .footer-flex .copy{
    color: white;
    font-size: 10px;
    font-weight: 500;
}

.section6 footer .footer-flex .terms{
    display: flex;
    margin-left: -80rem;
    display: none;
}

.section6 footer .footer-flex .terms a{
    text-decoration: none;
    font-weight: 400;
    font-size: 10px;
    display: none;
    color: white;
    padding: 0px 10px;
}







@media screen and (max-width:820px){
    .nav-container{
        padding: 20px 36px;
    }

    .ham-btn{
        display: block;
        z-index: 999;
        background: transparent;
        border: none;
    }

    .nav-links{
        position: absolute;
        top: 100px;
        flex-direction: column;
        left: 0;
        padding: 0 50px;
        background: #0b0531f3;
        height: 100vh;
    }

    .hide{
        display: none;
    }

    header nav a{
        margin-bottom: 30px;
        padding: 0 !important;
        background:transparent;
        /* border: 1rem solid rgba(0, 0, 0, 0.021); */
        display: block;
        
    }

  
    ul{
        display: flex;
        flex-direction: column;
    }

    .banner-container{
        display: flex;
        justify-content: space-between;
        margin: 10.5rem 0rem;
        padding: 0px 80px;
    }
    
    .banner-text .title{
        font-size: 40px;
        font-weight: 500;
        color: white;
        margin: 1rem 0rem;
    }
    
    .banner-text .text-inner{
        font-size: 15px;
        font-weight: 300;
        color: rgb(238, 235, 235);
        margin-bottom: 3rem;
    }
    
    .banner-container .banner-btns{
        margin-bottom: 4rem;
    }
    
    .banner-container .banner-btn1{
        background-color: blueviolet;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 40px;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .banner-container .banner-btn2{
        border: 2px solid;
        border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
    }
    
    .banner-container .counter{
        display: flex;
    }
    
    .banner-container .counter .count-title{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    .banner-container .counter .count-inner{
        font-size: 15px;
        color: rgb(221, 214, 214);
    }
    
    .banner-container .arrow img{
        position: absolute;
        top: 26rem;
        right: 40rem;
        opacity: 0.2;
        display: none;
    }


    .banner-container .banner-img img{
        width: 100%;
    }

    .section2 .section2-part2{
        border: 3px solid;
    
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        border-radius: 95px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        /* width: 120%;
        height: 590px; */
        margin-top: 3rem;
    }

    .section2 .section2-part2 .image{
        padding-left: 2.5rem;
    }
    
    .section2 .section2-part2 .part2-text{
        margin-left: 4rem;
        margin-top: 3rem;
    }
    
    .section2 .section2-part2 .heading-title{
        font-size: 25px;
        color: white;
    }
    
    .section2 .section2-part2 .image-flex{
        display: flex;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    
    .section2 .section2-part2 .image-flex .image-title{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .section2 .section2-part2 .part2-innertext{
        color: rgb(129, 128, 128);
        margin: 1rem 0rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
    }
    
    
    .section3 .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 0rem;
    }
    
    .section3 .cards-container .card1{
        width: 310px;
        height: 500px;
        border: 5px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        background-color: rgb(29, 28, 28);
        padding: 1rem 1rem;
        margin-bottom: 2rem;
    }

    .section3 .section3-btns{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        margin: 3rem 0rem;
    }

    .section4 .section4-cards-container .card-container1 .card-one{
        background-color: rgb(75, 68, 68);
        padding: 1rem;
        width: 665px;
        margin: 1rem 0.3rem;
        border-radius: 5px;
    }

    .section5 .section5-flex .section5-innertext .innertext-title{
        margin-top: 0rem;
        font-size: 30px;
        font-weight: 500;
        color: white;
    }

    .section5 .section5-flex .image{
        margin-left: -3rem;
        margin-right: 1.8rem;
    }
    
    .section5 .section5-flex .section5-innertext .innertext-sub{
        margin-bottom: 3rem;
        font-size: 14px;
        font-weight: 300;
        color: rgb(182, 179, 179);
    }
    
    .section5 .section5-flex .section5-innertext .section5-btn{
        background-color: blueviolet;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 15px 30px;
        text-decoration: none;  
    }
    
    .section6{
        padding: 0px 70px;
        padding-top: 8rem;
        border-top: 3px solid;
        border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
        width: 100%;
    }
    
    .section6 .section6-flex{
        display: flex;
        justify-content: space-between;
    }
    
    .section6 .section6-flex .logo{
        font-size: 45px;
        font-weight: 600;
        background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    
    .section6 .section6-flex .flex1 .flex1-text{
        font-size: 10px;
        font-weight: 400;
        line-height: 2;
        color: white;
        margin-bottom: 2rem;
    }
    
    
    .section6 .section6-flex .flex1 .footer-icons{
        display: flex;
    }
    
    .section6 .section6-flex .flex1 .footer-icons .icon-cont{
        background-color:#3d3666ea;
        width: 50px;
        height: 50px;
        margin-bottom: 4rem;
        border-radius: 5px;
    }
    
    .section6 .section6-flex .flex1 .footer-icons a{
        font-size: 25px;
        color: white;
       
    }

    .flex2-list{
        margin-right: 1.1rem;
    }
    
    .section6 .section6-flex .list-title{
        font-weight: 800;
        color: white;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .section6 .section6-flex li a{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        line-height: 2.5;
    }

    .section6 footer .footer-flex .terms{
        display: flex;
        margin-left: -10rem;
    }
}




@media screen and (max-width:768px){
    .banner-container{
        display: flex;
        justify-content: space-between;
        margin: 10.5rem 0rem;
        padding: 0px 80px;
    }
    
    .banner-text .title{
        font-size: 40px;
        font-weight: 500;
        color: white;
        margin: 1rem 0rem;
    }
    
    .banner-text .text-inner{
        font-size: 15px;
        font-weight: 300;
        color: rgb(238, 235, 235);
        margin-bottom: 3rem;
    }
    
    .banner-container .banner-btns{
        margin-bottom: 4rem;
    }
    
    .banner-container .banner-btn1{
        background-color: blueviolet;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 40px;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .banner-container .banner-btn2{
        border: 2px solid;
        border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
    }
    
    .banner-container .counter{
        display: flex;
    }
    
    .banner-container .counter .count-title{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    .banner-container .counter .count-inner{
        font-size: 15px;
        color: rgb(221, 214, 214);
    }
    
    .banner-container .arrow img{
        position: absolute;
        top: 26rem;
        right: 40rem;
        opacity: 0.2;
        display: none;
    }


    .banner-container .banner-img img{
        width: 100%;
    }

    .section2 .section2-part2{
        border: 3px solid;
    
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        border-radius: 95px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        /* width: 120%;
        height: 590px; */
        margin-top: 3rem;
    }

    .section2 .section2-part2 .image{
        padding-left: 0rem;
    }
    
    .section2 .section2-part2 .part2-text{
        margin-left: 4rem;
        margin-top: 3rem;
    }
    
    .section2 .section2-part2 .heading-title{
        font-size: 25px;
        color: white;
    }
    
    .section2 .section2-part2 .image-flex{
        display: flex;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    
    .section2 .section2-part2 .image-flex .image-title{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .section2 .section2-part2 .part2-innertext{
        color: rgb(129, 128, 128);
        margin: 1rem 0rem;
        font-size: 15px;
        font-weight: 400;
        line-height: 2;
    }
    
    
    .section3 .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 0rem;
    }
    
    .section3 .cards-container .card1{
        width: 800px;
        height: 850px;
        border: 5px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        background-color: rgb(29, 28, 28);
        padding: 1rem 1rem;
        margin-bottom: 2rem;
    }

    .section3 .cards-container .card1 .card-heading .card-name{
        margin-top: 2.5rem;
        margin-left: 1rem;
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    .section3 .section3-btns{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        margin: 3rem 0rem;
    }

    .section4 .section4-cards-container .card-container1 .card-one{
        background-color: rgb(75, 68, 68);
        padding: 1rem;
        width: 615px;
        margin: 1rem 0.3rem;
        border-radius: 5px;
    }

    .section5 .section5-flex .section5-innertext .innertext-title{
        margin-top: 0rem;
        font-size: 30px;
        font-weight: 500;
        color: white;
    }

    .section5 .section5-flex .image{
        margin-left: -3rem;
        margin-right: 1.8rem;
    }
    
    .section5 .section5-flex .section5-innertext .innertext-sub{
        margin-bottom: 3rem;
        font-size: 14px;
        font-weight: 300;
        color: rgb(182, 179, 179);
    }
    
    .section5 .section5-flex .section5-innertext .section5-btn{
        background-color: blueviolet;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 15px 30px;
        text-decoration: none;  
    }
    
    .section6{
        padding: 0px 70px;
        padding-top: 8rem;
        border-top: 3px solid;
        border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
        width: 100%;
    }
    
    .section6 .section6-flex{
        display: flex;
        justify-content: space-between;
    }
    
    .section6 .section6-flex .logo{
        font-size: 45px;
        font-weight: 600;
        background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    
    .section6 .section6-flex .flex1 .flex1-text{
        font-size: 10px;
        font-weight: 400;
        line-height: 2;
        color: white;
        margin-bottom: 2rem;
    }
    
    
    .section6 .section6-flex .flex1 .footer-icons{
        display: flex;
    }
    
    .section6 .section6-flex .flex1 .footer-icons .icon-cont{
        background-color:#3d3666ea;
        width: 50px;
        height: 50px;
        margin-bottom: 4rem;
        border-radius: 5px;
    }
    
    .section6 .section6-flex .flex1 .footer-icons a{
        font-size: 25px;
        color: white;
       
    }

    .flex2-list{
        margin-right: 1.1rem;
    }
    
    .section6 .section6-flex .list-title{
        font-weight: 800;
        color: white;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .section6 .section6-flex li a{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        line-height: 2.5;
    }

    .section6 footer .footer-flex .terms{
        display: flex;
        margin-left: -10rem;
    }
}





@media screen and (max-width:415px){
    .banner-container{
        display: flex;
        justify-content: space-between;
        margin: 10.5rem 0rem;
        padding: 0px 40px;
    }
    
    .banner-text .title{
        font-size: 40px;
        font-weight: 500;
        color: white;
        margin: 1rem 0rem;
    }
    
    .banner-text .text-inner{
        font-size: 15px;
        font-weight: 300;
        color: rgb(238, 235, 235);
        margin-bottom: 3rem;
    }
    
    .banner-container .banner-btns{
        margin-bottom: 4rem;
    }
    
    .banner-container .banner-btn1{
        background-color: blueviolet;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 40px;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .banner-container .banner-btn2{
        border: 2px solid;
        border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
    }
    
    .banner-container .counter{
        display: flex;
    }
    
    .banner-container .counter .count-title{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    .banner-container .counter .count-inner{
        font-size: 15px;
        color: rgb(221, 214, 214);
    }
    
    .banner-container .arrow img{
        position: absolute;
        top: 26rem;
        right: 40rem;
        opacity: 0.2;
        display: none;
    }


    .banner-container .banner-img img{
        width: 100%;
        display: none;
    }

    .section2{
        padding: 0px 40px;
    }

    .section2 .section2-part2{
        border: 3px solid;
    
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        border-radius: 95px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        /* width: 120%;
        height: 590px; */
        margin-top: 3rem;
    }

    .section2 .section2-part2 .image{
        padding-left: 0rem;
    }

    .section2 .section2-part2 .image img{
        width: 270px;
        height: 300px;
    }
    
    .section2 .section2-part2 .part2-text{
        margin-left: 0rem;
        margin-top: 3rem;
    }
    
    .section2 .section2-part2 .heading-title{
        font-size: 25px;
        color: white;
    }
    
    .section2 .section2-part2 .image-flex{
        display: flex;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    
    .section2 .section2-part2 .image-flex .image-title{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .section2 .section2-part2 .part2-innertext{
        color: rgb(129, 128, 128);
        margin: 1rem 0rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
    }

    .auction{
        margin-left: 3rem;
    }
    
    .section3{
        padding: 0px 40px;
    }

    .section3 .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 0rem;
    }
    
    .section3 .cards-container .card1{
        width: 800px;
        height: 540px;
        border: 5px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        background-color: rgb(29, 28, 28);
        padding: 1rem 1rem;
        margin-bottom: 2rem;
    }

    .section3 .cards-container .card1 .card-heading .card-name{
        margin-top: 0.5rem;
        margin-left: 1rem;
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    .section3 .section3-btns{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        margin: 3rem 0rem;
    }

    .section4{
        padding: 0px 40px;
    }

    .section4 .section4-cards-container .card-container1 .card-one{
        background-color: rgb(75, 68, 68);
        padding: 1rem;
        width: 345px;
        margin: 1rem 0rem;
        border-radius: 5px;
    }

    .section5{
        padding: 0px 40px;
    }

    .section5 .section5-flex{
        border: 3px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(52, 216, 2)) 1;
        border-radius: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        padding: 1.5rem 4rem;
    }

    .section5 .section5-flex .section5-innertext .innertext-title{
        font-size: 25px;
        font-weight: 500;
        color: white;
    }

    .section5 .section5-flex .image img{
        width: 280px;
        height: 275px;
    }
    
    .section5 .section5-flex .section5-innertext .innertext-sub{
        margin-bottom: 2.5rem;
        font-size: 12px;
        font-weight: 200;
        color: rgb(182, 179, 179);
    }
    
    .section5 .section5-flex .section5-innertext .section5-btn{
        background-color: blueviolet;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 15px 30px;
        text-decoration: none;  
    }
    
    .section6{
        padding: 0px 40px;
        padding-top: 8rem;
        border-top: 3px solid;
        border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
        width: 100%;
    }
    
    .section6 .section6-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .section6 .section6-flex .logo{
        font-size: 45px;
        font-weight: 600;
        background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    
    .section6 .section6-flex .flex1 .flex1-text{
        font-size: 10px;
        font-weight: 400;
        line-height: 2;
        color: white;
        margin-bottom: 2rem;
    }
    
    
    .section6 .section6-flex .flex1 .footer-icons{
        display: flex;
    }
    
    .section6 .section6-flex .flex1 .footer-icons .icon-cont{
        background-color:#3d3666ea;
        width: 50px;
        height: 50px;
        margin-bottom: 4rem;
        border-radius: 5px;
    }
    
    .section6 .section6-flex .flex1 .footer-icons a{
        font-size: 25px;
        color: white;
       
    }

    .flex2-list{
        margin-right: 1.1rem;
        margin-bottom: 1rem;
    }

    .Company{
        margin-right:3.7rem !important;
    }
    
    .section6 .section6-flex .list-title{
        font-weight: 800;
        color: white;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .section6 .section6-flex li a{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        line-height: 2.5;
    }

    .section6 footer .footer-flex .terms{
        display: flex;
        margin-left: 0rem;
    }
}





@media screen and (max-width:393px){
    .banner-container{
        display: flex;
        justify-content: space-between;
        margin: 10.5rem 0rem;
        padding: 0px 40px;
    }
    
    .banner-text .title{
        font-size: 40px;
        font-weight: 500;
        color: white;
        margin: 1rem 0rem;
    }
    
    .banner-text .text-inner{
        font-size: 15px;
        font-weight: 300;
        color: rgb(238, 235, 235);
        margin-bottom: 3rem;
    }
    
    .banner-container .banner-btns{
        margin-bottom: 4rem;
    }
    
    .banner-container .banner-btn1{
        background-color: blueviolet;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 40px;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .banner-container .banner-btn2{
        border: 2px solid;
        border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
    }
    
    .banner-container .counter{
        display: flex;
    }
    
    .banner-container .counter .count-title{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    .banner-container .counter .count-inner{
        font-size: 15px;
        color: rgb(221, 214, 214);
    }
    
    .banner-container .arrow img{
        position: absolute;
        top: 26rem;
        right: 40rem;
        opacity: 0.2;
        display: none;
    }


    .banner-container .banner-img img{
        width: 100%;
    }

    .section2{
        padding: 0px 40px;
    }

    .section2 .section2-part2{
        border: 3px solid;
    
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        border-radius: 95px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        /* width: 120%;
        height: 590px; */
        margin-top: 3rem;
    }

    .section2 .section2-part2 .image{
        padding-left: 0rem;
    }

    .section2 .section2-part2 .image img{
        width: 240px;
        height: 280px;
    }
    
    .section2 .section2-part2 .part2-text{
        margin-left: 0rem;
        margin-top: 3rem;
    }
    
    .section2 .section2-part2 .heading-title{
        font-size: 20px;
        color: white;
    }
    
    .section2 .section2-part2 .image-flex{
        display: flex;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    
    .section2 .section2-part2 .image-flex .image-title{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .section2 .section2-part2 .part2-innertext{
        color: rgb(129, 128, 128);
        margin: 1rem 0rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
    }

    .auction{
        margin-left: 3rem;
    }
    
    .section3{
        padding: 0px 40px;
    }

    .section3 .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 0rem;
    }
    
    .section3 .cards-container .card1{
        width: 800px;
        height: 540px;
        border: 5px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        background-color: rgb(29, 28, 28);
        padding: 1rem 1rem;
        margin-bottom: 2rem;
    }

    .section3 .cards-container .card1 .card-heading .card-name{
        margin-top: 0.5rem;
        margin-left: 1rem;
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    .section3 .section3-btns{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        margin: 3rem 0rem;
    }

    .section4{
        padding: 0px 40px;
    }

    .section4 .section4-cards-container .card-container1 .card-one{
        background-color: rgb(75, 68, 68);
        padding: 1rem;
        width: 315px;
        margin: 1rem 0rem;
        border-radius: 5px;
    }

    .section5{
        padding: 0px 40px;
    }

    .section5 .section5-flex{
        border: 3px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(52, 216, 2)) 1;
        border-radius: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        padding: 1.5rem 4rem;
    }

    .section5 .section5-flex .section5-innertext .innertext-title{
        font-size: 25px;
        font-weight: 500;
        color: white;
    }

    .section5 .section5-flex .image img{
        width: 270px;
        height: 265px;
    }
    
    .section5 .section5-flex .section5-innertext .innertext-sub{
        margin-bottom: 2.5rem;
        font-size: 12px;
        font-weight: 200;
        color: rgb(182, 179, 179);
    }
    
    .section5 .section5-flex .section5-innertext .section5-btn{
        background-color: blueviolet;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 15px 30px;
        text-decoration: none;  
    }
    
    .section6{
        padding: 0px 40px;
        padding-top: 8rem;
        border-top: 3px solid;
        border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
        width: 100%;
    }
    
    .section6 .section6-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .section6 .section6-flex .logo{
        font-size: 45px;
        font-weight: 600;
        background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    
    .section6 .section6-flex .flex1 .flex1-text{
        font-size: 10px;
        font-weight: 400;
        line-height: 2;
        color: white;
        margin-bottom: 2rem;
    }
    
    
    .section6 .section6-flex .flex1 .footer-icons{
        display: flex;
    }
    
    .section6 .section6-flex .flex1 .footer-icons .icon-cont{
        background-color:#3d3666ea;
        width: 50px;
        height: 50px;
        margin-bottom: 4rem;
        border-radius: 5px;
    }
    
    .section6 .section6-flex .flex1 .footer-icons a{
        font-size: 25px;
        color: white;
       
    }

    .flex2-list{
        margin-right: 1.1rem;
    }
    
    .section6 .section6-flex .list-title{
        font-weight: 800;
        color: white;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .section6 .section6-flex li a{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        line-height: 2.5;
    }

    .section6 footer .footer-flex .terms{
        display: flex;
        margin-left: 0rem;
    }
}



@media screen and (max-width:375px){
    .banner-container{
        display: flex;
        justify-content: space-between;
        margin: 10.5rem 0rem;
        padding: 0px 40px;
    }
    
    .banner-text .title{
        font-size: 40px;
        font-weight: 500;
        color: white;
        margin: 1rem 0rem;
    }
    
    .banner-text .text-inner{
        font-size: 15px;
        font-weight: 300;
        color: rgb(238, 235, 235);
        margin-bottom: 3rem;
    }
    
    .banner-container .banner-btns{
        margin-bottom: 4rem;
    }
    
    .banner-container .banner-btn1{
        background-color: blueviolet;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 40px;
        text-decoration: none;
        margin-right: 3rem;
    }
    
    .banner-container .banner-btn2{
        border: 2px solid;
        border-image: linear-gradient(45deg, rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        color: white;
        font-weight: 400;
        font-size: 15px;
        padding: 15px 20px;
        text-decoration: none;
    }
    
    .banner-container .counter{
        display: flex;
    }
    
    .banner-container .counter .count-title{
        font-size: 25px;
        text-align: center;
        color: white;
    }
    
    .banner-container .counter .count-inner{
        font-size: 15px;
        color: rgb(221, 214, 214);
    }
    
    .banner-container .arrow img{
        position: absolute;
        top: 26rem;
        right: 40rem;
        opacity: 0.2;
        display: none;
    }


    .banner-container .banner-img img{
        width: 100%;
    }

    .section2{
        padding: 0px 40px;
    }

    .section2 .section2-part2{
        border: 3px solid;
    
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        border-radius: 95px;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        /* width: 120%;
        height: 590px; */
        margin-top: 3rem;
    }

    .section2 .section2-part2 .image{
        padding-left: 0rem;
    }

    .section2 .section2-part2 .image img{
        width: 230px;
        height: 260px;
    }
    
    .section2 .section2-part2 .part2-text{
        margin-left: 0rem;
        margin-top: 3rem;
    }
    
    .section2 .section2-part2 .heading-title{
        font-size: 20px;
        color: white;
    }
    
    .section2 .section2-part2 .image-flex{
        display: flex;
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    
    .section2 .section2-part2 .image-flex .image-title{
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .section2 .section2-part2 .part2-innertext{
        color: rgb(129, 128, 128);
        margin: 1rem 0rem;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
    }

    .auction{
        margin-left: 3rem;
    }
    
    .section3{
        padding: 0px 40px;
    }

    .section3 .cards-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0rem 0rem;
    }
    
    .section3 .cards-container .card1{
        width: 800px;
        height: 540px;
        border: 5px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(58, 15, 253)) 1;
        background-color: rgb(29, 28, 28);
        padding: 1rem 1rem;
        margin-bottom: 2rem;
    }

    .section3 .cards-container .card1 .card-heading .card-name{
        margin-top: 0.5rem;
        margin-left: 1rem;
        color: white;
        font-weight: 500;
        font-size: 15px;
    }

    .section3 .section3-btns{
        display: flex;
        justify-content: space-between;
        overflow: scroll;
        margin: 3rem 0rem;
    }

    .section4{
        padding: 0px 40px;
    }

    .section4 .section4-cards-container .card-container1 .card-one{
        background-color: rgb(75, 68, 68);
        padding: 1rem;
        width: 300px;
        margin: 1rem 0rem;
        border-radius: 5px;
    }

    .section5{
        padding: 0px 40px;
    }

    .section5 .section5-flex{
        border: 3px solid;
        border-image: linear-gradient( rgb(250, 18, 250), rgb(52, 216, 2)) 1;
        border-radius: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
        display: flex;
        padding: 1.5rem 4rem;
    }

    .section5 .section5-flex .section5-innertext .innertext-title{
        font-size: 20px;
        font-weight: 500;
        color: white;
    }

    .section5 .section5-flex .image img{
        width: 250px;
        height: 255px;
    }
    
    .section5 .section5-flex .section5-innertext .innertext-sub{
        margin-bottom: 2.5rem;
        font-size: 12px;
        font-weight: 200;
        color: rgb(182, 179, 179);
    }
    
    .section5 .section5-flex .section5-innertext .section5-btn{
        background-color: blueviolet;
        color: white;
        font-weight: 500;
        font-size: 12px;
        padding: 15px 30px;
        text-decoration: none;  
    }
    
    .section6{
        padding: 0px 40px;
        padding-top: 8rem;
        border-top: 3px solid;
        border-image: linear-gradient(45deg,  rgb(58, 15, 253), rgb(250, 18, 250)) 1;
        width: 100%;
    }
    
    .section6 .section6-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .section6 .section6-flex .logo{
        font-size: 45px;
        font-weight: 600;
        background: linear-gradient(to bottom right, rgb(47, 3, 243), rgb(253, 2, 253));
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 1rem;
    }
    
    .section6 .section6-flex .flex1 .flex1-text{
        font-size: 10px;
        font-weight: 400;
        line-height: 2;
        color: white;
        margin-bottom: 2rem;
    }
    
    
    .section6 .section6-flex .flex1 .footer-icons{
        display: flex;
    }
    
    .section6 .section6-flex .flex1 .footer-icons .icon-cont{
        background-color:#3d3666ea;
        width: 50px;
        height: 50px;
        margin-bottom: 4rem;
        border-radius: 5px;
    }
    
    .section6 .section6-flex .flex1 .footer-icons a{
        font-size: 25px;
        color: white;
       
    }

    .flex2-list{
        margin-right: 1.1rem;
    }
    
    .section6 .section6-flex .list-title{
        font-weight: 800;
        color: white;
        font-size: 14px;
        margin-bottom: 0.5rem;
    }

    .section6 .section6-flex li a{
        color: white;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        line-height: 2.5;
    }

    .section6 footer .footer-flex .terms{
        display: flex;
        margin-left: 0rem;
    }
}